.active {
    display: inline-block;
    transform: scale(1.3);
    /* background-color: red; */
    background-color: yellow;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

span {
    user-select: none;
}