div.matrix {
    display: flex;
}

div.matrix-row {
    display: flex;
    flex-direction: column;
}

div.matrix-block {
    /* background-color: aqua; */
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 10vh;
    height: 10vh;
    font-size: 7vh;
    border: 2px solid black;
    overflow: hidden;
}